<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>Cooking Star</title>

  <link th:replace="fragment/bootstrap :: bootstrapCss">
  <link th:replace="fragment/bootstrap :: bootstrapIcon">
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>

  <style>
    .profile-img-box {
      position: relative;
      width: 25%;
      padding-bottom: 25%;
      margin: 10px 55px 10px 10px;
      float: left;
    }
    .profile-img {
      position: absolute;
      width: 90%;
      height: 90%;
    }
    .user-id {
      margin-right: 35px;
      font-size: 30px;
      font-weight: bold;
      color: black;
      text-decoration: none;
    }
    .num-of-post, .num-of-follower, .num-of-following {
      font-size: 18px;
      margin-right: 37px;
    }
    .nickname {
      font-size: 20px;
      font-weight: bold;
      color: black;
    }
    .img-standard {
      width: 30%;
      height: 30%;
      margin: 15px;
    }
    .img-preview {
      width: 15%;
      height: 15%;
      margin: 10px;
    }
    .searched-profile-box, .following-profile-box {
      position: relative;
      width: 12%;
      margin-bottom: 10px;
      float: left;
    }
    .searched-profile-img, .following-profile-img {
      width: 90%;
      height: 90%;
    }
    #profile-box {
      height: 300px;
      margin-bottom: 5px;
      padding: 30px 150px 30px 30px;
    }
    #content-box {
      margin-bottom: 5px;
      padding: 30px 150px 30px 30px;
    }
    .introduction-scroll {
      -ms-overflow-style: none;
      overflow-y: scroll;
      height: 100px;
    }
    .introduction-scroll::-webkit-scrollbar {
      display: none;
    }
    .follower-list-scroll, .following-list-scroll {
      -ms-overflow-style: none;
      overflow-y: scroll;
      height: 300px;
    }
    .follower-list-scroll::-webkit-scrollbar {
      display: none;
    }
    .following-list-scroll::-webkit-scrollbar {
      display: none;
    }
    .unfollow-btn {
        text-align: center;
        color: #db0505;
        font-weight: bold;
        font-size: 14px;
        margin-top: -1%;
        margin-bottom: -1%;
        cursor: pointer;
    }
  </style>

</head>
<body>

<nav th:replace="fragment/nav :: navbar"></nav>
<form th:replace="fragment/nav :: navbar-temp-storage-modal"></form>

<div class="container" id="profile-box">
  <div class="profile-img-box">
    <div th:if="${not #strings.isEmpty(userPageInfo.profileImage)}">
      <img class="profile-img rounded-circle" th:src="|/profile/${userPageInfo.profileImage}|" alt="프로필 이미지" />
    </div>
    <div th:if="${#strings.isEmpty(userPageInfo.profileImage)}">
      <img class="profile-img rounded-circle" th:src="@{/images/home/sample5.jpg}" alt="기본 이미지" />
    </div>
  </div>
  <div class="mt-3 mb-3 follow-btn-area">
    <span class="user-id" th:text="${userPageInfo.userId}">유저 아이디</span>
  </div>
  <div class="following-area mt-3 mb-3">
    <span class="num-of-post" th:text="|#{label.myPage.numPost} ${totalPost}|">게시물 0</span>
    <span class="num-of-follower" data-bs-toggle="modal" data-bs-target="#follower-list-modal"
          th:text="|#{label.myPage.numFollower} ${totalFollower}|" style="cursor: pointer;">팔로워 0</span>
    <span class="num-of-following" data-bs-toggle="modal" data-bs-target="#following-list-modal"
          th:text="|#{label.myPage.numFollowing} ${totalFollowing}|" style="cursor: pointer;">팔로잉 0</span>
  </div>
  <div class="mt-3 mb-1">
    <span class="nickname" th:text="${userPageInfo.nickname}">유저 닉네임</span>
  </div>
  <div>
    <a class="website" th:href="@{${userPageInfo.website}}" th:text="${userPageInfo.website}"
       style="font-size: 15px; font-weight: bold; text-decoration: none; color: #1d2362">유저 홈페이지</a>
  </div>
  <div class="mb-2"></div>
  <div class="introduction-scroll">
    <span class="introduction" style="word-wrap: break-word;"
          th:utext="${#strings.unescapeJava(#strings.replace(#strings.escapeJava(userPageInfo.introduction),'\n','&lt;br /&gt;'))}">유저 소개글</span>
  </div>

</div>

<!-- 게시물 이미지 노출 영역 -->
<div class="container" id="content-box">
  <hr class="mt-2 mb-5">
  <div class="img-layer" style="text-align: center">
    <span id="last-read-post-id" style="display: none;"></span>
    <div id="post-image-area">
      <a th:each="imageUrl, index : ${imageUrls}" th:href="@{'/post/' + ${postIds.get(index.index)}}" style="text-decoration: none">
        <img th:src="|/image/${imageUrl}|" class="img-standard" alt="포스트 이미지" />
      </a>
    </div>
  </div>
</div>

<!-- 팔로워 리스트 모달 -->
<div class="modal fade" id="follower-list-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" style="width: 400px;">
    <div class="modal-content">
      <div class="modal-header" style="justify-content: center; height: 43px;">
        <p class="modal-title" style="font-weight: bold;">팔로워</p>
      </div>
      <div class="modal-body follower-list-scroll"></div>
    </div>
  </div>
</div>

<!-- 팔로잉 리스트 모달 -->
<div class="modal fade" id="following-list-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" style="width: 400px;">
    <div class="modal-content">
      <div class="modal-header" style="justify-content: center; height: 43px;">
        <p class="modal-title" style="font-weight: bold;">팔로잉</p>
      </div>
      <div class="modal-body following-list-scroll"></div>
    </div>
  </div>
</div>

<!-- 언팔로우 모달 -->
<div class="modal fade" id="unfollow-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" style="width: 400px;">
    <div class="modal-content">
      <div class="modal-header" style="justify-content: center;">
        <div class="modal-title" id="exampleModalLabel" th:text="|${userPageInfo.getUserId()}님을 언팔로우 할까요?|"></div>
      </div>
      <div class="modal-body">
        <div class="unfollow-btn" data-bs-dismiss="modal">언팔로우</div>
      </div>
      <div class="modal-footer" style="justify-content: center;">
        <div data-bs-dismiss="modal" style="font-size: 14px; cursor: pointer;">취소</div>
      </div>
    </div>
  </div>

<script th:inline="javascript" type="text/javascript">

  /**
   * 팔로잉 아이콘 클릭 시 나타나는 모달에서 언팔로우 버튼 클릭 시 언팔로우
   */
  $(document).on('click', '.unfollow-btn', function () {
    const followingUserId = [[${session.loginMember.userId}]];
    const followedUserId = [[${userPageInfo.userId}]];
    unfollow(followingUserId, followedUserId);
  });


  /**
   * 게시글 무한 스크롤 관련 코드
   */
  let postImageSize = 6;
  let infiniteScrollSwitch = "on";

  $(function () {
    if ([[${postIds.size}]] >= 2) {
      const postIdArray = [[${postIds}]];
      $('#last-read-post-id').text(postIdArray[postIdArray.length - 1]);
    }
  });

  async function getPostImageUrls() {
    const userId = [[${userPageInfo.userId}]];
    const status = "POSTING";
    const lastReadPostId = $('#last-read-post-id').text();
    const res = await fetch(`http://localhost:8080/post?userId=${userId}&postId=${lastReadPostId}&size=${postImageSize}&status=${status}`, {
      method: "GET"
    });
    const text = await res.text();
    const slice = JSON.parse(text);

    const { content, last } = slice;
    content.forEach((postImageUrl) => {
      const { postId, imageUrl } = postImageUrl;
      $('#post-image-area').append(`<a style="text-decoration: none;" href="/post/${postId}">
                                   <img class="img-standard" alt="포스트 이미지" src="/image/${imageUrl}"/></a>`);
    });

    const lastPostId = content[content.length - 1].postId;
    $('#last-read-post-id').text(lastPostId);

    setTimeout(function () {
      infiniteScrollSwitch = "on";
    }, 100);

    if (last) {
      $(window).unbind('scroll');
    }
  }

  //스크롤 최하단 도달 시 게시글 추가 조회
  $(window).scroll(function () {
    if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight) {
      if (infiniteScrollSwitch === "on") {
        infiniteScrollSwitch = "off";
        getPostImageUrls();
      }
    }
  });

  /**
   * 팔로잉 기능 관련 코드
   */
  let followerPage = 0;
  let followerSize = 6;
  let followingPage = 0;
  let followingSize = 6;

  //페이지 로딩 시 팔로잉 관계 확인 후 팔로우/맞팔로우/팔로잉 버튼 표시
  $(function () {
    const userId = [[${userPageInfo.userId}]];
    const followingRelationshipPromise = checkForFollowingRelationship(userId);
    followingRelationshipPromise.then((value => {
      const {following, followed} = value;

      if (!following && !followed) {
        //TODO: 팔로우 버튼
        $('.follow-btn-area').append('<button class="btn btn-primary btn-sm follow-btn"' +
                ' type="button" style="margin-bottom: 15px;">팔로우</button>');

      } else if (!following && followed) {
        //TODO: 맞팔로우 버튼
        $('.follow-btn-area').append('<button class="btn btn-primary btn-sm follow-btn"' +
                ' type="button" style="margin-bottom: 15px;">맞팔로우</button>');
      } else {
        //TODO: 팔로잉 체크 아이콘
        $('.follow-btn-area').append('<a class="bi bi-person-check-fill following-icon" data-bs-toggle="modal" ' +
          'data-bs-target="#unfollow-modal" style="font-size: 1.5rem; color: black;" href="#" role="button"></a>');
      }
    }));
  });

  //팔로워 리스트 조회
  async function getFollowers() {
    try {
      const userId = [[${userPageInfo.userId}]];
      const res = await fetch(`http://localhost:8080/following/${userId}/followers?page=${followerPage}&size=${followerSize}`, {
        method: "GET"
      });
      const text = await res.text();
      const followerSlice = JSON.parse(text);
      const { content } = followerSlice;

      content.forEach((follower) => {
        const { userId, nickname, profileImage } = follower;

        $('#follower-list-modal .modal-body').append('<div class="follower-list">' +
            '<div class="dropdown-item container" style="float: left; width: 83%;">' +
            '<div class="following-profile-box">' +
            '<img class="following-profile-img rounded-circle" alt="유저 프로필" /></div>' +
            '<div style="margin-top: -1%;"><span class="follower-user-id" style="font-weight: bold; font-size: 15px; cursor: pointer"></span></div>' +
            '<div style="margin-top: -2%;"><span class="follower-user-nickname" style="color: gray; font-size: 14px;"></span></div></div>' +
            '<div class="delete-button-box" style="float: left; padding-top: 2.5%">' +
            '<button id="follower-deletion-btn" type="button" class="btn btn-primary btn-sm"></button></div></div>');

        if (profileImage === null) {
          $('#follower-list-modal .modal-body img').last().attr('src', `/images/home/sample5.jpg`);
        } else {
          $('#follower-list-modal .modal-body img').last().attr('src', `/profile/${profileImage}`);
        }

        $('#follower-list-modal #follower-deletion-btn').last().addClass(`follower-${userId}`);
        $('#follower-list-modal .modal-body .follower-user-id').last().text(`${userId}`);
        $('#follower-list-modal .follower-user-nickname').last().text(`${nickname}`);

        if (userId === [[${session.loginMember.userId}]]) {
          $('#follower-list-modal .delete-button-box').last().remove();
          return;
        }

        const followingRelationshipPromise = checkForFollowingRelationship(userId);
        followingRelationshipPromise.then((value => {
          const {following} = value;
          if (following) {
            $(`#follower-list-modal .follower-${userId}`).text('팔로잉');
          } else {
            $(`#follower-list-modal .follower-${userId}`).text('팔로우');
            $(`#follower-list-modal .follower-${userId}`).addClass('follow-btn');
          }
        }))
      })
    } catch (err) {
      console.log(err);
      alert("작업 도중 문제가 발생하였습니다. 다시 시도해 주세요.");
    }
  }

  //팔로워 표시 영역 클릭 시 팔로워 리스트 조회
  $('.following-area').on('click', '.num-of-follower', function() {
    $('#follower-list-modal .modal-body').empty();
    followerPage = 0;
    getFollowers();
  });

  //팔로워 리스트 내 유저 프로필 클릭 시 해당 유저 페이지로 이동
  $(document).on('click', '.follower-user-id', function() {
    const userId = $(this).text();
    console.log(userId);
    location.replace(`/user/${userId}`);
  })

  // 팔로잉 리스트 내 유저 언팔로우 / 리팔로우
  $(document).on('click', '#follower-deletion-btn', function() {
    const followingUserId = [[${session.loginMember.userId}]];
    const followedUserId = $(this).parent().prev().children('div:eq(1)').children('span:eq(0)').text();

    if ($(this).hasClass('follow-btn')) {
      follow(followedUserId);
      $(this).text('팔로잉');
      $(this).removeClass('follow-btn');

    } else {
      unfollow(followingUserId, followedUserId);
      $(this).addClass('follow-btn');
      $(this).text('팔로우');
    }
  })

  //팔로워 리스트 모달 창 내 스크롤 최하단 도달 시 다음 페이지 조회
  $('.follower-list-scroll').scroll(function () {
    const modalScroll = $('.follower-list-scroll');
    if (Math.floor(modalScroll[0].scrollHeight - modalScroll.scrollTop()) === modalScroll.outerHeight()) {
      followerPage++;
      console.log("scroll bottom");
      getFollowers();
    }
  });

  //팔로잉 리스트 조회
  async function getFollowings() {
    try {
      const userPageUserId = [[${userPageInfo.userId}]];
      const res = await fetch(`http://localhost:8080/following/${userPageUserId}/followings?page=${followingPage}&size=${followingSize}`, {
        method: "GET"
      });
      const text = await res.text();
      const followingSlice = JSON.parse(text);
      const { content } = followingSlice;

      content.forEach((following) => {
        const { userId, nickname, profileImage } = following;

        $('#following-list-modal .modal-body').append('<div class="following-list">' +
                '<div class="dropdown-item container" style="float: left; width: 83%;">' +
                '<div class="following-profile-box">' +
                '<img class="following-profile-img rounded-circle" alt="유저 프로필" /></div>' +
                '<div style="margin-top: -1%;"><span class="following-user-id" style="font-weight: bold; font-size: 15px; cursor: pointer"></span></div>' +
                '<div style="margin-top: -2%;"><span class="following-user-nickname" style="color: gray; font-size: 14px;"></span></div></div>' +
                '<div class="delete-button-box" style="float: left; padding-top: 2.5%">' +
                '<button id="following-deletion-btn" type="button" class="btn btn-primary btn-sm"></button></div></div>');

        if (profileImage === null) {
          $('#following-list-modal .modal-body img').last().attr('src', `/images/home/sample5.jpg`);
        } else {
          $('#following-list-modal .modal-body img').last().attr('src', `/profile/${profileImage}`);
        }

        $('#following-list-modal #following-deletion-btn').last().addClass(`following-${userId}`);
        $('#following-list-modal .modal-body .following-user-id').last().text(`${userId}`);
        $('#following-list-modal .following-user-nickname').last().text(`${nickname}`);

        if (userId === [[${session.loginMember.userId}]]) {
          console.log(userId);
          $('#following-list-modal .delete-button-box').last().remove();
          return;
        }
        const followingRelationshipPromise = checkForFollowingRelationship(userId);
        followingRelationshipPromise.then((value => {
          const {following} = value;
          if (following) {
            $(`#following-list-modal .following-${userId}`).text('팔로잉');
          } else {
            $(`#following-list-modal .following-${userId}`).text('팔로우');
            $(`#following-list-modal .following-${userId}`).addClass('follow-btn');
          }
        }))
      })
    } catch (err) {
      console.log(err);
      alert("작업 도중 문제가 발생하였습니다. 다시 시도해 주세요.");
    }
  }

  //팔로잉 표시 영역 클릭 시 팔로잉 리스트 조회
  $('.following-area').on('click', '.num-of-following', function() {
    $('#following-list-modal .modal-body').empty();
    followingPage = 0;
    getFollowings();
  });

  //팔로잉 리스트 내 유저 프로필 클릭 시 해당 유저 페이지로 이동
  $(document).on('click', '.following-user-id', function() {
    const userId = $(this).text();
    console.log(userId);
    location.replace(`/user/${userId}`);
  })

  //팔로잉 리스트 모달 창 내 스크롤 최하단 도달 시 다음 페이지 조회
  $('.following-list-scroll').scroll(function () {
    const modalScroll = $('.following-list-scroll');
    if (Math.floor(modalScroll[0].scrollHeight - modalScroll.scrollTop()) === modalScroll.outerHeight()) {
      followingPage++;
      console.log("scroll bottom");
      getFollowings();
    }
  });

  //해당 유저 팔로우
  async function follow(userId) {
    try {
      await fetch(`http://localhost:8080/following`, {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify({
          followedUserId: userId
        })
      });

      if (userId === [[${userPageInfo.userId}]]) {
        const countPromise = countFollowers(userId);
        countPromise.then((count) => {
          $('.num-of-follower').text(`팔로워 ` + count);
        })
      }

    } catch (err) {
      console.log(err);
      alert("작업 도중 문제가 발생하였습니다. 다시 시도해 주세요.");
    }
  }

  //팔로워 수 조회
  async function countFollowers(userId) {
    try {
      const res = await fetch(`http://localhost:8080/following/${userId}/count/followers`, {
        method: "GET"
      });
      const text = await res.text();
      return JSON.parse(text);

    } catch (err) {
      console.log(err);
      alert("작업 도중 문제가 발생하였습니다. 다시 시도해 주세요.");
    }
  }

  // 팔로우 또는 맞팔로우 버튼 클릭 시 팔로우
  $('.follow-btn-area').on('click', '.follow-btn', function () {
    const userId = [[${userPageInfo.userId}]];
    const followingRelationshipPromise = checkForFollowingRelationship(userId);
    followingRelationshipPromise.then((value => {
      const {following} = value;
      if (!following) {
        follow(userId);

        $('button').remove('.follow-btn');

        $('.follow-btn-area').append('<a class="bi bi-person-check-fill following-icon" data-bs-toggle="modal" ' +
          'data-bs-target="#unfollow-modal" style="font-size: 1.5rem; color: black;" href="#" role="button"></a>');
      }
    }));
  });

  // 팔로잉 관계 확인
  async function checkForFollowingRelationship(userId) {
    const res = await fetch(`http://localhost:8080/following?userId=${userId}`, {
      method: "GET"
    });
    const text = await res.text();
    return JSON.parse(text);
  }

  // 팔로잉 관계 삭제
  async function unfollow(followingUserId, followedUserId) {
    try {
      await fetch(`http://localhost:8080/following/unfollow`, {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify({
          followingUserId: followingUserId,
          followedUserId: followedUserId
        })
      });

      if (followedUserId === [[${userPageInfo.userId}]]) {
        const countPromise = countFollowers(followedUserId);
        countPromise.then((count) => {
          $('.num-of-follower').text(`팔로워 ` + count);
        });

        $('.follow-btn-area').children('a').remove();

        const followingRelationshipPromise = checkForFollowingRelationship(followedUserId);
        followingRelationshipPromise.then((value => {
          const {following, followed} = value;

          if (!following && !followed) {
            //TODO: 팔로우 버튼
            $('.follow-btn-area').append('<button class="btn btn-primary btn-sm follow-btn"' +
              ' type="button" style="margin-bottom: 15px;">팔로우</button>');

          } else if (!following && followed) {
            //TODO: 맞팔로우 버튼
            $('.follow-btn-area').append('<button class="btn btn-primary btn-sm follow-btn"' +
              ' type="button" style="margin-bottom: 15px;">맞팔로우</button>');
          }
        }))
      }

    } catch (err) {
      console.log(err);
      alert("작업 도중 문제가 발생하였습니다. 다시 시도해 주세요.");
    }
  }

  // 팔로잉 리스트 내 유저 언팔로우 / 리팔로우
  $(document).on('click', '#following-deletion-btn', function() {
    const followingUserId = [[${session.loginMember.userId}]];
    const followedUserId = $(this).parent().prev().children('div:eq(1)').children('span:eq(0)').text();

    if ($(this).hasClass('follow-btn')) {
      follow(followedUserId);
      $(this).text('팔로잉');
      $(this).removeClass('follow-btn');

    } else {
      unfollow(followingUserId, followedUserId);
      $(this).addClass('follow-btn');
      $(this).text('팔로우');
    }
  })


</script>

<script th:replace="fragment/bootstrap :: bootstrapBundle"></script>
<script th:replace="fragment/nav :: navbarScript"></script>

</body>
</html>