<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>Cooking Star</title>

  <link th:replace="fragment/bootstrap :: bootstrapCss">
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <style>
      .field-error {
          border-color: #dc3545;
          color: #dc3545;
      }
      .img-standard {
        width: 100%;
      }
  </style>

</head>
<body style="background-color: #f8f9fa;">

<div class="container my-5 justify-content-center" style="float: none; padding-top: 4%;">
  <div class="row g-2 overflow-hidden">
    <div class="col-8" style="float: none;">
      <img th:src="@{images/home/mainPageSample.png}" class="img-standard border bg-light" alt="샘플 이미지1" />
    </div>
    <div class="col-4">
      <ul class="justify-content-center" style="list-style: none;">
        <li class="p-3 border mb-4" style="background-color: white;">

          <div class="mb-3"></div>
          <div style="text-align: center; font-size: 2.5rem; font-weight: bold;">CookingStar</div>
          <div style="margin-bottom: 45px;"></div>

          <form class="mb-4" action="/" th:action th:object="${loginForm}" method="post">

            <div th:if="${#fields.hasGlobalErrors()}">
              <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">글로벌 오류 메시지</p>
            </div>

            <div class="mb-3">
              <label for="loginId" th:text="#{label.login.loginId}" class="form-label">로그인 ID</label>
              <input type="text" id="loginId" th:field="*{loginId}"
                     th:errorclass="field-error" class="form-control" placeholder="아이디를 입력해 주세요.">
              <div class="field-error" th:errors="*{loginId}">
                아이디 오류
              </div>
            </div>

            <div class="mb-3">
              <label for="password" th:text="#{label.login.password}" class="form-label">비밀번호</label>
              <input type="password" id="password" th:field="*{password}"
                     th:errorclass="field-error" class="form-control" placeholder="비밀번호를 입력해 주세요.">
              <div class="field-error" th:errors="*{password}">
                비밀번호 오류
              </div>
            </div>

            <br class="mb-4">

            <div class="row">
              <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit" th:text="#{button.login}">로그인</button>
              </div>
            </div>
          </form>
        </li>

        <li class="p-3 border mb-4" style="background-color: white;">
          <div class="mb-2"></div>
          <div style="text-align: center; margin-bottom: 4px; color: gray;">아이디가 없으신가요?</div>
          <div style="text-align: center; margin-bottom: 4px; color: gray;">지금 가입하고 당신의 요리 실력을 뽐내보세요!</div>
          <div class="mb-3"></div>

          <div class="mb-1" style="text-align: center">
            <a th:href="@{/member/join}" style="text-decoration: none; font-weight: bold; color: #3097fc; font-size: 17px;">가입하기</a>
          </div>
        </li>

        <li class="p-3 border" style="background-color: white;">
          <div class="mb-2"></div>
          <div style="text-align: center; margin-bottom: 4px; color: gray;">아이디 또는 비밀번호를 잊으셨다면?</div>
          <div class="mb-2" style="text-align: center">
            <a th:href="@{/member/join}" style="text-decoration: none; font-weight: bold; color: #3097fc; font-size: 17px;">아이디 찾기</a>
            <a style="text-decoration: none; font-weight: bold; color: #a1a0a0; font-size: 17px;">/</a>
            <a th:href="@{/member/join}" style="text-decoration: none; font-weight: bold; color: #3097fc; font-size: 17px;">비밀번호 찾기</a>
          </div>
        </li>
      </ul>

    </div>
  </div>
</div>

<script th:replace="fragment/bootstrap :: bootstrapBundle"></script>
<script th:replace="fragment/nav :: navbarScript"></script>

</body>
</html>