<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTO MAPPER 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="toy.cookingstar.repository.PostRepository">

  <insert id="saveImage" useGeneratedKeys="true" keyProperty="id" parameterType="PostImage">
    INSERT INTO postimage (post_id, url, priority)
    VALUES (#{postId}, #{url}, #{priority});
  </insert>

</mapper>